@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: "Poppins", sans-serif;

}


/* Cabeçalho */

.cabecalho {
    background-image: url("./imgs/banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    padding: 1vw 1vw 20vw 1vw;
}

.menu {
    width: 96%;
    padding: 2%;
}

.menu,
ul,
li a {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 2vw;
}

.img-logo {
    width: 15%;
}

.lista {
    display: flex;
    justify-content: space-around;
    width: 75%;
    text-align: center;
}

.imagemMenu {
    display: none;
}

.contInformacoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    padding: 1.5%;
}

.informacoes,
.imagemPct {
    width: 45%;
}


.imagemPct img {
    width: 100%;
}

.informacoes h3 {
    font-weight: normal;
    font-size: 3vw;

}

.informacoes h1 {
    font-size: 7vw;
}

.informacoes p {
    font-size: 1em;
    font-weight: 500;
    padding: 2vw 0 2vw 0;
}

.informacoes button {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    border: solid #ffffff 1px;
    padding: 1.5vw;
    margin: 1vw 1vw 1vw 0vw;
    width: 18vw;
    font-weight: 550;
}

.informacoes button a {
    text-decoration: none;
    color: #ffffff;
}

/* Corpo */

.containerCards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8vw 5vw 8vw 5vw;
}

.cardComputer,
.cardLaptop,
.cardTablet {
    border: #48ca95 solid 1px;
    border-radius: 12px;
    padding: 1%;
    margin: 1vw;
    text-align: center;
}

.cardComputer h3,
.cardLaptop h3,
.cardTablet h3 {
    padding: 2vw 1vw 0vw 1vw;
    font-size: 2.5vw;
}

.cardComputer p,
.cardLaptop p,
.cardTablet p {
    padding: 1vw;
    font-size: 2vw;

}

.cardComputer img,
.cardLaptop img,
.cardTablet img {
    padding: 2vw 1vw 0vw 1vw;
    width: 9vw;
}

.containerProducts {
    background-color: #f7f7f7;
    text-align: center;
    width: 94%;
    padding: 3%;
    padding-bottom: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.containerProducts h1 {
    text-align: center;
    border-bottom: #48ca95 solid 1px;
    font-size: 4vw;
    margin-bottom: 6vw;
    padding-top: 4vw;
}

.products {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 88vw;
}

.coluna1,
.coluna2,
.coluna3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.foto button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #252525;
    color: #f7f7f7;
    font-weight: 500;
    width: 20vw;
    text-align: center;
    padding: 2.5%;
    margin: 20%;
    font-size: 2vw;
}

.foto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3vw;
    margin: 2vw;
}

.foto img {
    width: 20vw;
}

.btnSeeMore button {
    background-color: rgba(0, 0, 0, 0);
    color: #48ca95;
    border: #48ca95 solid 1px;
    font-weight: 500;
    font-size: 2vw;
    width: 23vw;
    height: 6vw;
    padding: 4%;
    margin: 2vw 3vw 7vw 3vw;
}

.divPromocao{
    background-color: #4F4AA6;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11vw 5vw 11vw 5vw;

}

.txtPromo{
    width: 60%;
}

.txtPromo h3{
    font-weight: 400;
    font-size: 3vw;
}

.txtPromo h1{
    font-weight: 600;
    font-size: 7vw;
    padding-bottom: 6%;                                                                                                                                                                                                                                                                                             
}

.imgPromo{
    width: 40%;
}

.imgPromo img{
  width: 100%;
}

.txtPromo button{
    background-color: #48ca95;
    color: #ffffff;
    border: none;
    font-weight: 500;
    font-size: 2vw;
    width: 23vw;
    height: 6vw;
    padding: 4%;
    text-align: center;
}

.divCustumer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 8%;
}

.divCustumer h1{
    text-align: center;
    border-bottom: #48ca95 solid 1px;
    font-size: 4vw;
    margin-bottom: 6vw;
    padding-top: 4vw;
}

.userReview{
    padding: 4%;
    width: 85%;
}

.userReview img{
    width: 6%;
}

.userReview h2 {
    padding: 2% 0 2% 0;
    font-size: 3.5vw;
    font-weight: 600;
}

.userReview p{
    padding-bottom: 4%;
    font-size: 2vw;
    font-weight: 400;
}

.divContact {
    background-image: url("./imgs/contact_g.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5vw;
    color: #ffffff;
}

.contactH h1 {
    text-align: center;
    border-bottom: #ffffff solid 1px;
    font-size: 4vw;
    margin-bottom: 3vw;

}

.contactPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    padding: 3vh 7vw 5vw 7vw;
    border: #ffffff solid 1px;
    color: #ffffff;
    margin-top: 20px;
    width: 45%;
}

.contactPanel input {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    border: #ffffff solid 1px;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 5%;
    width: 43vw;
    padding: 1vw;
}

.contactPanel .message {
    height: 10vh;
}

.contactPanel button {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #48ca95;
    border-radius: 25px;
    border: none;
    width: 15vw;
    height: 6vh;
    font-size: 14px;
    font-weight: 500;
    margin-top: 5vw;
}

#campoNome::placeholder,
#campoEmail::placeholder,
#campoNumero::placeholder,
#campoMessagem::placeholder {
    color: #ffffff;
}


/* Rodapé */

.rodape {
    background-image: url("./imgs/footer.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    padding: 4vw;
}

.icons .logo1,
.imgIcones img {
    margin-bottom: 10%;
    margin-right: 2%;
}

.icons,
.sobrenos,
.contato,
.Newsletter {
    width: 30%;
    padding: 4vw 3vw 4vw 3vw;
}

.rodape h1{
    font-size: 2.5vw;
    margin-bottom: 8%;
    font-weight: 550;
}

.rodape p{
    font-size: 1.6vw;
}

.Newsletter input {
    font-family: "Poppins", sans-serif;
    font-weight: 650;
    padding: 4%;
    width: 20vw;
    margin-top: 3%;
    margin-bottom: 8%;
    border-radius: 6px;
    border: none;
}

.Newsletter button {
    background-color: #48ca95;
    color: #ffffff;
    border-radius: 10px;
    padding: 4%;
    width: 15vw;
    height: 5vh;
    font-size: 1.5vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    border: none;
}

.pai {
    display: flex;
    margin-bottom: 5vw;
}

.direitos {
    text-align: center;
    font-weight: 200;
    
}

/*port Mobile*/

@media (width < 700px ) {

    /* Cabeçalho */ 

    .lista a {
        display: none;
    }

    .imagemMenu {
        display: block;
    }

    .informacoes,
    .imagemPct {
        width: 100%;
    }

    .informacoes h3 {
        padding: 8vw 0vw 2vw 0vw ;
    }

    .informacoes p {
        padding: 0vw 0vw 10vw 0vw;
    }
    
    .imagemPct img {
        width: 100%;
    }

    .imagemPct {
        padding-top: 5vw;
    }

    .contInformacoes {
        display: block;
    }

    /* Corpo */

    .containerCards {
        display: block;
    }

    .containerCards p {
        width: 100%;
    }

    .cardComputer,
    .cardLaptop,
    .cardTablet {
        margin-bottom: 3vw;
    }

    .products img {
        width: 100%;
    }

    .products button {
        width: 100%;
    }

    .coluna1,
    .coluna2,
    .coluna3 {
        display: block;
    }

    .btnSeeMore {
        width: 60%;
    }

    .divPromocao {
        display: block;
    }

    .imgPromo {
        width: 100%;
    }

    .imgPromo img {
        padding-top: 1vw;
    } 


    /* Rodapé */

    .contactPanel {
        width: 80vw;
    }

    .contactPanel input {
        width: 83vw;
    }

    .contactPanel button {
        width: 30%;
    }


    .pai {
        display: block;
    }

    .icons,
    .sobrenos,
    .contato,
    .Newsletter {
        padding: 1vw 0vw 1vw 0vw;
    }

    .Newsletter input {
        width: 80vw;
    }

}